<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <title>Trademark Search</title>
  </head>

  <body class="tracking-tighter scroll-smooth">
    <section class="bg-yellow-100 p-4">
      <div class="p-4 m-4">
        <h1 class="text-4xl font-bold text-red-600">Trademark Search</h1>
      </div>
    </section>
    <section>
      <div class="max-w-3xl p-3 m-5">
        <h1 class="mx-3 my-6 text-4xl font-semibold">
          Check for similarities for your trademark
        </h1>
        <div class="p-3 m-3 bg-gray-100 rounded-lg">
          <h1 class="text-xl font-medium">Select A Jurisdiction</h1>
          <p
            class="border-2 border-solid border-gray-300 w-3/4 p-1 m-2 rounded-lg"
          >
            USA
          </p>
        </div>
        <div class="p-3 m-3 bg-gray-100 rounded-lg">
          <h1 class="text-xl font-medium">Trademark</h1>
          <input
            id="trademarkInput"
            type="text"
            class="border-2 border-solid border-gray-300 w-3/4 p-1 m-2 rounded-lg"
            placeholder="Enter Trademark Name"
          />
        </div>
        <!-- <div class="p-3 m-3 bg-gray-100 rounded-lg">
          <h1 class="text-xl font-medium">Goods and Services</h1>
          <input
            id="goodsInput"
            type="text"
            class="border-2 border-solid border-gray-300 w-3/4 p-1 m-2 rounded-lg"
            placeholder="Enter Class Number or Keyword"
          />
        </div> -->

        <div class="p-3 m-3 bg-gray-100 rounded-lg">
          <h1 class="text-xl font-medium">Goods and Services</h1>
          <div class="relative w-3/4 max-w-lg p-1 m-1">
            <div
              class="flex justify-between overflow-hidden rounded-md bg-white border-solid border-gray-200 border-2"
            >
              <input
                type="text"
                id="search-input"
                class="block w-full flex-1 py-2 px-3 focus:outline-none"
                placeholder="Start Typing..."
              />
            </div>
            <input
              type="hidden"
              name="selected-class"
              id="selected-class"
              value=""
            />

            <div
              id="class-list"
              class="absolute mt-2 w-full overflow-hidden rounded-md bg-white"
            >
              <div
                class="cursor-pointer py-2 px-3 hover:bg-slate-100 class-item hidden"
                data-class="Food and Ingredients"
              >
                <p class="text-sm font-medium text-gray-600">Class 29</p>
                <p class="text-sm text-gray-500">Food and Ingredients</p>
              </div>
              <div
                class="cursor-pointer py-2 px-3 hover:bg-slate-100 class-item hidden"
                data-class="Automobiles"
              >
                <p class="text-sm font-medium text-gray-600">Class 12</p>
                <p class="text-sm text-gray-500">Automobiles</p>
              </div>
              <div
                class="cursor-pointer py-2 px-3 hover:bg-slate-100 class-item hidden"
                data-class="Leather Goods"
              >
                <p class="text-sm font-medium text-gray-600">Class 18</p>
                <p class="text-sm text-gray-500">Leather Goods</p>
              </div>
            </div>
          </div>
        </div>

        <div class="my-4 mx-3">
          <button
            id="searchBtn"
            type="submit"
            class="px-4 py-3 font-semibold text-xl bg-blue-500 hover:cursor-pointer text-white rounded hover:bg-blue-700 transition duration-200"
          >
            Search Trademark
          </button>
          <button
            onclick="downloadAsPDF()"
            class="px-4 py-3 mx-4 font-semibold text-xl bg-white hover:cursor-pointer text-black rounded hover:bg-gray-900 hover:text-white transition duration-200"
          >
            Download PDF
          </button>
        </div>

        <div id="plotContainer" class="mt-4"></div>
        <div class="mt-5">
          <h2 class="py-3 mb-3 text-3xl font-semibold">Trademark Details</h2>
          <table id="trademark-table">
            <thead>
              <tr>
                <th>Trademark Name</th>
                <th>Similarity Score</th>
                <th>Classification</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </section>

    <script>
      function downloadAsPDF() {
        window.jsPDF = window.jspdf.jsPDF;

        // create a new jsPDF instance
        const doc = new jsPDF();

        // get the HTML content to be converted to PDF
        const html = document.documentElement;
        doc.setFont("sans-serif", "normal");
        // convert HTML to PDF
        doc.html(html, {
          callback: function () {
            // save the PDF file
            doc.save("output.pdf");
          },
          x: 15,
          y: 15,
          width: 170,
          windowWidth: 650,
        });
      }
    </script>

    <script>
      const searchInput = document.getElementById("search-input");
      const classList = document.querySelectorAll(".class-item");
      const selectedClass = document.getElementById("selected-class");

      let selectionMade = false;

      searchInput.addEventListener("input", () => {
        const query = searchInput.value.trim().toLowerCase();

        classList.forEach((classItem) => {
          const classData = classItem.dataset.class.toLowerCase();

          if (classData.includes(query)) {
            classItem.style.display = "block";
            classItem.addEventListener("click", (e) => {
              selectedClass.value = e.currentTarget.dataset.class;
              searchInput.value = selectedClass.value;
              selectionMade = true;
              hideSuggestions();
            });
          } else {
            classItem.style.display = "none";
          }
        });
      });

      searchInput.addEventListener("blur", () => {
        if (!selectionMade) {
          showSuggestions();
        }
      });

      function hideSuggestions() {
        document.getElementById("class-list").classList.add("hidden");
      }

      function showSuggestions() {
        document.getElementById("class-list").classList.remove("hidden");
      }
    </script>

    <script>
      const searchBtn = document.getElementById("searchBtn");
      const trademarkInput = document.getElementById("trademarkInput");
      const goodsInput = document.getElementById("goodsInput");

      searchBtn.addEventListener("click", async () => {
        const data = {
          str1: trademarkInput.value,
          str2: selectedClass.value,
        };
        const response = await fetch("http://127.0.0.1:5000/plot", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        const responseData = await response.json();
        console.log(responseData.image_b64);
        const imageSrc = `data:image/png;charset=utf-8;base64,${responseData.image_b64}`;
        const plotContainer = document.getElementById("plotContainer");
        plotContainer.innerHTML = `<img src="${imageSrc}" alt="Generated Plot">`;

        const details = responseData.details;

        const tbody = document.querySelector("#trademark-table tbody");

        tbody.innerHTML = "";

        for (var i = 0; i < details.length; i++) {
          var trademark = details[i];

          // Create a new row element
          var row = document.createElement("tr");

          // Add the trademark name cell
          var nameCell = document.createElement("td");
          nameCell.textContent = trademark[0];
          row.appendChild(nameCell);

          // Add the similarity score cell
          var scoreCell = document.createElement("td");
          scoreCell.textContent = trademark[1];
          row.appendChild(scoreCell);

          // Add the adjacent cell cell
          var adjacentCell = document.createElement("td");
          adjacentCell.textContent = trademark[2];
          row.appendChild(adjacentCell);

          // Add the row to the table body
          tbody.appendChild(row);
        }

        // const newWindow = window.open("", "_blank");
        // newWindow.document.write(
        //   `<html><head><title>Trademark Report</title></head><body><div><img src="data:image/png;base64,${responseData.image_b64}" /></div><div><p>${responseData.details}<p/></div></body></html>`
        // );
      });
    </script>
  </body>
</html>
